@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
     --Orange:hsl(25, 97%, 53%);
     --White: hsl(0, 0%, 100%);
     --LightGrey:hsl(217, 12%, 63%);
     --MediumGrey: hsl(216, 12%, 54%);
     --DarkBlue: hsl(213, 19%, 18%);
     --VeryDarkBlue: hsl(216, 12%, 8%);
}
body{
    background-color:black;
    font-family: 'Overpass', sans-serif;
    Font-size : 15px;
    padding: 150px 21px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 330px;
    height: 365px;
    background-color:var(--VeryDarkBlue) ;
    border: 1px solid var(--VeryDarkBlue);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

    
}
.cajero{
    width: 160px;
    
    align-items: center;
    
     



}
.selection{
    width:168px ;
    height: 35px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 100;
    background-color: var(--DarkBlue);
    color: var(--Orange);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   margin-top: 25px;
}
.thank{
    color: var(--White);
    margin-top: 25px;
   
    
}
.appreciated{
    
    font-size: 15px;
    color: var(--LightGrey);
   font-size: 13px;
    margin-top: 15px; 
    text-align: center;
   
}
footer{
    width: 260px;
    margin-top: 20px;
    color: var(--LightGrey);
    text-align: center;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    /*---------------------------800px-----------------------------*/
@media only screen and (min-width: 800px){
    .container{
        width: 340px;
        height: 390px;

    }
    .selection{
        width: 200px;
        height: 32px;
        font-size: 16px;

    }
    
}
    /*---------------------------1440px-----------------------------*/
@media only screen and (min-width: 1440px){

    .container{
        width: 412px;
        height: 412px;

    }
    .selection{
        width: 215px;
        height: 32px;
        font-size: 16px;

    }
    .thank{
        font-size:25px ;
    }
    .appreciated{
        font-size: 16px;
    }

}